# Build and setup
build/
.vscode/
.venv/*

# Config files
*.json
!cpp/test/lib/configs/*.json
!cpp/test/lib/configs/*/*.json

# Python packages
dist/*
*.egg-info/*

# Cache
__pycache__/

# Coverage
*.info
*_html
